@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
  .col--edit {
    margin-bottom: 30px;
  }

  .header .navbar .wrapper {
    .right-side {
      position: fixed;
      top: 0;
      inset-inline-start: -100%;
      height: 100vh;
      background-color: $backgroundColor;
      width: 85%;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      transition: $transition;
      .mobile-head {
        display: flex;
      }
      .navbar-links {
        flex-direction: column;
        padding-inline-start: 15px;
      }
      .icons {
        padding-inline-start: 15px;
      }
      &.active {
        inset-inline-start: 0;
        transition: $transition;
      }
    }
    .toggle-btn {
      display: flex;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .upper-bar .wrapper .info,
  .header .upper-bar .wrapper .social-links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .navbar .wrapper {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {
}
